.Big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.Medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.Small {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}