.ShowCard {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}




.Big {
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.Medium {
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.Small {
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}